/* Welcome Font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Home-welcome {
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: -2px 2px 0px red;
    margin-top: 2em;
}

.Home-button {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 1.7em;
    border: 5px solid white;
    padding: 30px;
    text-decoration: none;
    margin: 0.5em;
}

.Home-button:hover {
    background-color: lightblue;
}

.Home-signup {
    background-color: blue;
    text-shadow: -2px 2px 0px red;
}

.Home-login {
    background-color: red;
    text-shadow: -2px 2px 0px blue;
}

.Home-buttons {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Home-build-menu {
    margin-top: 3em;
}