/* Navbar Title (Logo) Font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Navbar {
    margin-top: 0.5em;
}

.Navbar-title {
    font-size: 2em;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: -3px 2px 0px blue;
    color: white;
    display: inline;
}

.Navbar-link {
    text-decoration: none;
    color: inherit;
}

.Navbar-button {
    display: inline;
    height: 1.6em;
    font-size: 1.5em;
    font-family: 'Press Start 2P', sans-serif;
    background-color: blue;
    color: white;
    text-shadow: -2px 1px 0px red;
    border: 3px solid white;
    margin-left: 10px;
}

.Navbar-button:hover {
    background-color: lightblue;
}

.Navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Navbar-right {
    margin-right: 10px;
    margin-left: auto;
    order: 2;
}

.Navbar-left {
    margin-top: 5px;
    margin-left: 10px;
    order: 1;
}

.Navbar-hr {
    border: 1px dashed darkgray;
}